body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 700;
}

#vizWrapper {
  position: relative;
}

#map {
  background-color: #000000;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;
  pointer-events: none;

  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 12pt;
}
