@import "tailwindcss";

@layer base {
	:root {
		--breakpoint-xxs: 360px;
		--breakpoint-xs: 480px;
		--breakpoint-sm: 640px;
		--breakpoint-md: 768px;
		--breakpoint-lg: 1024px;
		--breakpoint-xl: 1440px;
	}

	body {
		position: relative;
		background-color: var(--color-background);
		color: var(--color-foreground);
		font-family: var(--font-sans);
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;
		letter-spacing: -0.011em;
		font-optical-sizing: auto;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		/* -moz-osx-font-smoothing: grayscale; */
	}
}

@theme {
	--breakpoint-*: initial;
	--breakpoint-xxs: 360px;
	--breakpoint-xs: 480px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1440px;

	--font-sans: "Geist Variable", sans-serif;
	--font-serif: "Source Serif 4 Variable", serif;
	--font-display: "Romie", serif;

	--color-gray-100: #f5f5f5;
	--color-gray-200: #e6e6e6;
	--color-gray-300: #d9d9d9;
	--color-gray-400: #b3b3b3;
	--color-gray-500: #757575;
	--color-gray-600: #444444;
	--color-gray-700: #383838;
	--color-gray-800: #2c2c2c;
	--color-gray-900: #1e1e1e;

	--color-background: #f8f8f8;
	--color-foreground: #101213;
}

/* prettier-ignore */
@utility grid-ctn {
	@apply grid grid-cols-4 w-[90vw] mx-auto gap-x-[0.875rem] gap-y-[2px] max-w-[1440px] 
	       xxs:w-auto xxs:mx-[1.5rem] xxs:gap-x-[1rem]
				 sm:grid-cols-8 
				 md:mx-[2rem] md:gap-x-[1.5rem] 
				 lg:grid-cols-12 
				 xl:mx-[max(2rem,calc((100vw-1440px)/2))];
}

@utility sans-10 {
	@apply font-sans text-[0.625rem] leading-[1rem] tracking-[0.01em];
}

@utility sans-12 {
	@apply font-sans text-[0.75rem] leading-[1rem] tracking-[0em];
}

@utility sans-14 {
	@apply font-sans text-[0.875rem] leading-[1.5rem] tracking-[-0.006em];
}

@utility sans-16 {
	@apply font-sans text-[1rem] leading-[1.5rem] tracking-[-0.011em];
}

@utility sans-18 {
	@apply font-sans text-[1.125rem] leading-[1.5rem] tracking-[-0.014em];
}

@utility sans-24 {
	@apply font-sans text-[1.5rem] leading-[2rem] tracking-[-0.019em];
}

@utility sans-32 {
	@apply font-sans text-[2rem] leading-[2.5rem] tracking-[-0.021em];
}

@utility serif-16 {
	@apply font-serif text-[1rem] leading-[1.5rem];
}

@utility serif-18 {
	@apply font-serif text-[1.125rem] leading-[1.5rem];
}
